In [201]:
import pandas as pd

In [202]:
df = pd.read_csv("dataset_house_apartment.csv")

In [203]:
df = df.drop(["furnished", "surface_of_the_plot_of_land"], axis=1)

In [204]:
df[(df.garden == 1) & (df.garden_area == "None")]

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
5,1650,house,villa,525000,for sale,4.0,220,1,1,1,None,1,None,1600.0,4,0,good,1990
12,1421,house,house,105000,for sale,1.0,82,0,0,0,None,1,None,307.0,4,0,to renovate,1945
16,7062,house,villa,520000,for sale,5.0,377,1,0,1,None,1,None,2000.0,4,0,good,1994
23,4162,house,farmhouse,140000,for sale,6.0,210,0,0,0,None,1,None,28607.0,3,0,to renovate,None
39,8670,house,house,530000,for sale,4.0,417,1,0,0,None,1,None,786.0,3,0,good,1968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52027,8670,house,villa,495000,for sale,3.0,None,0,0,0,None,1,None,953.0,None,0,None,1961
52028,8670,house,villa,495000,for sale,3.0,None,0,0,0,None,1,None,953.0,None,0,None,1961
52029,1600,house,house,469000,for sale,2.0,152,1,0,1,100,1,None,0.0,None,0,as new,None
52066,2290,house,house,490000,for sale,0.0,None,0,0,0,None,1,None,4131.0,4,0,None,None
52070,8570,house,villa,495000,for sale,3.0,None,0,0,1,None,1,None,0.0,None,0,as new,None

In [205]:
#df.drop(df[(df.garden == 1) & (df.garden_area == "None")])
df = df[(df.garden == 0) | ((df.garden == 1) & (df.garden_area != "None"))]

In [206]:
df.to_csv("clean_1_garden_45435.csv")

In [207]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
0,1050,house,house,340000,for sale,6.0,203,1,0,1,None,0,None,95.0,2,0,to be done up,1901
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
2,4900,house,exceptional property,550000,for sale,11.0,475,1,0,1,None,1,1400,1543.0,4,0,good,1853
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52072,3120,house,house,455496,for sale,3.0,None,0,0,0,None,0,None,695.0,None,0,None,None
52073,1800,house,house,451650,for sale,3.0,None,0,0,0,None,0,None,550.0,3,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None
52075,9140,house,house,455000,for sale,3.0,None,0,0,0,None,0,None,1202.0,4,0,None,None
52076,9620,house,house,469000,for sale,3.0,None,0,0,0,None,0,None,1500.0,4,0,None,None

In [208]:
df = df[(df.terrace == 0) | ((df.terrace == 1) & (df.terrace_area != "None"))]

In [209]:
df.to_csv("clean_2_terrace_35554.csv")

In [210]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52072,3120,house,house,455496,for sale,3.0,None,0,0,0,None,0,None,695.0,None,0,None,None
52073,1800,house,house,451650,for sale,3.0,None,0,0,0,None,0,None,550.0,3,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None
52075,9140,house,house,455000,for sale,3.0,None,0,0,0,None,0,None,1202.0,4,0,None,None
52076,9620,house,house,469000,for sale,3.0,None,0,0,0,None,0,None,1500.0,4,0,None,None

In [211]:
df = df[(df.house_area != "None")]

In [212]:
df.to_csv("clean_3_house_area_none_29907.csv")

In [213]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52058,2310,house,house,468000,for sale,3.0,180,1,0,0,None,0,None,0.0,4,0,None,None
52063,1800,house,house,454993,for sale,3.0,169,0,0,0,None,0,None,389.0,3,0,None,None
52065,3530,house,villa,475000,for sale,3.0,222,0,0,0,None,0,None,1124.0,4,0,None,None
52068,6700,house,mansion,475000,for sale,9.0,240,0,0,0,None,0,None,200.0,2,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None

In [214]:
df = df[(df.price != "no price")]

In [215]:
df.to_csv("clean_4_no_price_29878.csv")

In [216]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52058,2310,house,house,468000,for sale,3.0,180,1,0,0,None,0,None,0.0,4,0,None,None
52063,1800,house,house,454993,for sale,3.0,169,0,0,0,None,0,None,389.0,3,0,None,None
52065,3530,house,villa,475000,for sale,3.0,222,0,0,0,None,0,None,1124.0,4,0,None,None
52068,6700,house,mansion,475000,for sale,9.0,240,0,0,0,None,0,None,200.0,2,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None

In [217]:
pd.options.mode.chained_assignment = None

In [218]:
lam = lambda x: int(x)
df.price = df.price.apply(lam)

In [219]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52058,2310,house,house,468000,for sale,3.0,180,1,0,0,None,0,None,0.0,4,0,None,None
52063,1800,house,house,454993,for sale,3.0,169,0,0,0,None,0,None,389.0,3,0,None,None
52065,3530,house,villa,475000,for sale,3.0,222,0,0,0,None,0,None,1124.0,4,0,None,None
52068,6700,house,mansion,475000,for sale,9.0,240,0,0,0,None,0,None,200.0,2,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None

In [220]:
df = df[df["price"] > 75000]

In [221]:
df.to_csv("clean_5_no_viager_29363.csv")

In [222]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52058,2310,house,house,468000,for sale,3.0,180,1,0,0,None,0,None,0.0,4,0,None,None
52063,1800,house,house,454993,for sale,3.0,169,0,0,0,None,0,None,389.0,3,0,None,None
52065,3530,house,villa,475000,for sale,3.0,222,0,0,0,None,0,None,1124.0,4,0,None,None
52068,6700,house,mansion,475000,for sale,9.0,240,0,0,0,None,0,None,200.0,2,0,None,None
52074,2018,house,house,488000,for sale,3.0,145,0,0,0,None,1,48,0.0,3,0,None,None

In [223]:
df = df[df.surface_of_the_land != 0]

In [224]:
df.to_csv("clean_6_no_surface_of_the_land_28007.csv")

In [225]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52033,9100,house,house,485000,for sale,3.0,183,0,0,0,None,1,372,484.0,4,0,None,None
52034,8800,house,house,459817,for sale,4.0,204,1,0,0,None,1,966,1022.0,None,0,good,2019
52063,1800,house,house,454993,for sale,3.0,169,0,0,0,None,0,None,389.0,3,0,None,None
52065,3530,house,villa,475000,for sale,3.0,222,0,0,0,None,0,None,1124.0,4,0,None,None
52068,6700,house,mansion,475000,for sale,9.0,240,0,0,0,None,0,None,200.0,2,0,None,None

In [226]:
df = df[df.state_of_the_building != "None"]

In [227]:
df.to_csv("clean_7_state_of_the_building_none_21068.csv")

In [228]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52002,2180,house,villa,452179,for sale,4.0,157,0,0,0,None,0,None,406.0,None,0,as new,2020
52017,3520,house,house,499000,for sale,4.0,427,0,0,0,None,0,None,3459.0,4,0,as new,1992
52022,2180,house,villa,474491,for sale,3.0,180,0,0,0,None,0,None,406.0,None,0,as new,2020
52023,3000,house,house,495000,for sale,3.0,190,1,0,0,None,1,38,103.0,2,0,good,None
52034,8800,house,house,459817,for sale,4.0,204,1,0,0,None,1,966,1022.0,None,0,good,2019

In [229]:
df = df[df.construction_year != "None"]

In [230]:
df.to_csv("clean_8_construction_year_none_13483.csv")

In [231]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,for sale,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,for sale,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,for sale,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,for sale,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
7,4053,house,villa,385000,for sale,6.0,442,0,0,0,None,1,2200,2704.0,None,0,to renovate,1952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51983,2610,house,house,495000,for sale,3.0,160,1,0,0,None,0,None,368.0,3,0,as new,2007
52002,2180,house,villa,452179,for sale,4.0,157,0,0,0,None,0,None,406.0,None,0,as new,2020
52017,3520,house,house,499000,for sale,4.0,427,0,0,0,None,0,None,3459.0,4,0,as new,1992
52022,2180,house,villa,474491,for sale,3.0,180,0,0,0,None,0,None,406.0,None,0,as new,2020
52034,8800,house,house,459817,for sale,4.0,204,1,0,0,None,1,966,1022.0,None,0,good,2019

In [189]:
df.number_of_facades.describe()

count     13483
unique        5
top           2
freq       5467
Name: number_of_facades, dtype: object

In [192]:
df.number_of_facades.value_counts()

2       5467
None    2930
4       2545
3       2352
1        189
Name: number_of_facades, dtype: int64

In [194]:
df[df["number_of_facades"] == "None"].type_of_property.value_counts()

apartment    2605
house         325
Name: type_of_property, dtype: int64